{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Hello HomeController!</h1>
    {% for thematique in thematiques %}
        <h2>{{ thematique.libelle }}</h2>
    {% endfor %}
{% endblock %}
